html, body {
  margin: 0;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

body {
  background: #fcfcfc;
  color: #1B1E21;
  position: relative;
}

p {
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.6em;
}

.navbar-hbb {
  font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background: none;
	margin-bottom: 0.6em;
	margin-top: 1.2em;
	width: 100%;
	
}

.navbar-brand {
  background-image: url('/images/logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  width: 68px;
  height: 68px;
  padding: 0;
}


.navbar a {
  color: #303030;
}

.navbar li {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding: 10px;
}

.icon-bar {
  background-color: #303030;
}

div.container {
  margin: 0 auto;
  max-width: 960px;
}


div.header_frame {
  padding-top: 2em;
  margin-bottom: 3em;
}


div.about_frame {
  background-color: #f0f0f0;
  width: 100%;
  padding: 2em;
  
}

h1,h2,h3 {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.3em;
}

h1 {
	margin-top: 1.2em;
	margin-bottom: 0.6em;
}


h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
	margin-bottom: 1em;
	margin-top: 2em;
}

.actions {
  color: #808080;
}

.actions a {
  color: #808080;
  text-decoration: none;
  border-bottom: 1px solid #808080;
}


p.lead {
  font-size: 1em;
  font-style: normal;
}

.small {
  font-size: 0.8em;
  line-height: 1.8em;
}

.light {
  color:#808080;
}

.role {
  border-bottom: 1px solid #dedede;
  padding: 1em 0 2em 0;
}

div.work_item {
  margin-bottom: 2em;
  color: #808080;
  max-width: 800px;
}


div.work_item figure.image {
  background-color: #eee;  
}

div.work_item h2 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 0.2em;
  color: #303030;

}

#fonoteka, #di {
  max-width: 800px;
}

#fonoteka figure.image, .fonoteka_back {
  background-color: #B9E9FF;
}

.fonoteka_back {
  background: url('/images/fonoteka_bg3.jpg');
  background-size: cover;
  background-position: center top;
}

.fonoteka_back, .fonoteka_back h1 {
  color: #fff !important;
}



#zvooq figure.image {
  background-color: #9ea9ae;
}

div.meta {

}

#di figure.image {
  background-color: #f4f4f4;
}

span.nobrline {
  display:block;
}


.about-me {
  border-top: 4px solid #303030;
  margin-top: 4em !important; 
  padding: 2em 0 2em;
}



/* Jumbotron */

.container .jumbotron, .container-fluid .jumbotron {
  margin-top: 2em;
  border-radius: 0;
  border: 1px solid #303030;
  background: none;
}

.jumbotron h3 {
  margin-top: 1em;
}


/* Buttons */

.bottombuttons {
  margin: 2em auto 0;
  padding: 3em;
  border-top: 0px;

}

.btn-default {
  border-radius: 0;
  border: 3px solid #303030;
}

.btn-default:hover {
  background: #303030;
  border: 3px solid #303030;
  color: #fff;
}


/* ------- PORTFOLIO PAGE MODIFICATIONS ------- */ 

.portfolio .navbar a {
  color: #303030;
}

.portfolio h1 {
  font-size: 2.4em;
  color: #303030;
  margin-top: 1em;
  margin-bottom: 0.6em;
}

.portfolio  h2 {
  text-align: left;
}

div.video {
  background: #202020;
  padding: 0;
  margin-top: 2em;
  max-height: 400px;
}

/* Footer */

div.footer {
  background-color: #2A3138;
  width: 100%;
  min-height: 10em;
  color: #808080;
  font-size: 0.6em;
  text-align: center;
  padding: 4em 2em;
}

.footer a, .footer a:visited {
  text-decoration:none;
  color: #808080;
}

.footer a:hover {
  text-decoration: none;
  color: #888;
}

span.icon-github {
  background: url('/images/github.svg');
  background-size: cover;
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 2px;
}



/* ------- MEDIA QUERIES ------- */ 

/* Portrait tablets and small desktops */
@media(min-width:768px){
  html, body { font-size: 24px; line-height: 1.5em;}
  h1 { font-size: 1.8em; }
  h2 {font-size: 1.8em;}
  h3 {font-size: 1.2em;}
  h4 {font-size: 1.4em;}
  span.nobrline { display:inline; }
  div.work_item div.image { height: 280px; }
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand { margin-left: 0px;}
  
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  div.work_item div.image { height: 180px; }
  .navbar-brand {margin-left: 15px;}
  html, body { font-size: 20px; line-height: 1.4em;}
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  div.work_item div.image { height: 140px; }
}


@media (min-width: 1200px) {
    html, body { line-height: 1.8em;}
}
