html, body {
  margin: 0;
  height: 100%;
  font-family: 'Gentium Book Basic', serif;
  font-size: 18px;
}

body {
  background: #fafafa;
  color: #1B1E21;
  position: relative;
}

.navbar-hbb {
  font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #fff;
	position: absolute;
	background: none;
	margin-bottom: 0;
	width: 100%;
	
}

.navbar-hbb .container {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.navbar a {
  color: #fff;
}

.navbar li {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding: 10px;
}

.icon-bar {
  background-color: #fff;
}

div.container {
  margin: 0 auto;
  max-width: 800px;
}

div.header_frame {
  display: table;
  background: #2C3E50 url('/images/bg2.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin-bottom: 2em;
}

div.header_content {
  display:table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 1em;
}

div.about_frame {
  background-color: #f0f0f0;
  width: 100%;
  padding: 2em;
  
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

h1.bigtitle {
  font-family: 'Lato', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	color: #fff;
	margin-bottom: 0.6em;
}

h2 {
  font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 32px;
	text-align: center;
	color: #303030;
	margin-bottom: 1em;
}

h3 {
  font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 20px;
	color: #303030;
	margin-bottom: 1em;
	margin-top: 2em;
}

p.disclaimer {
  text-align: center;
}

p.lead {
  
  font-size: 1.2em;
  font-style: italic;
}

.small {
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
}

h4 {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  font-size: 1.1em;
  color: #fff;
  line-height: 1.4em;
  margin-bottom: 1em;
}


div.work_item {
  margin-bottom: 2em;
  border: 1px solid #ccc;
}



div.work_item figure.image {
  background-color: #009be4;  
}


div.work_item h2 {
  font-size: 24px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.4em;
}

div.work_item button {
  display: block;
  margin: 0 auto;
  width: 100%;  
  padding: 0.6em 0.8em;
  border: solid 2px #303030;
  background: none;
  font-family: 'Lato', sans-serif;
}

div.meta {
  padding: 1em;
}




span.nobrline {
  display:block;
}

div.footer {
  background-color: #2A3138;
  width: 100%;
  min-height: 10em;
  color: #999;
  font-family: 'Lato';
  font-size: 0.6em;
  text-align: center;
  padding: 2em;
}

/* ------- PORTFOLIO PAGE MODIFICATIONS ------- */ 

.portfolio .navbar a {
  color: #303030;
}

.portfolio .navbar-hbb .container {
border-bottom: 1px solid #303030;
}

.portfolio h1 {
  color: #303030;
  text-align: left;
  margin-top: 3em;
  margin-bottom: 0.6em;
}

.portfolio  h2 {
  text-align: left;
}

div.video {
  background: #202020;
  padding: 0;
  margin-top: 2em;
  max-height: 400px;
}



/* ------- MEDIA QUERIES ------- */ 

/* Portrait tablets and small desktops */
@media(min-width:768px){
  html, body { font-size: 20px; }
  h1 { font-size: 64px; }
  h1.bigtitle { font-size: 64px; }
  h2 {font-size: 52px;}
  h3 {font-size: 28px;}
  div.header_content {padding: 2em;}
  h4 {font-size: 1.4em;}
  span.nobrline { display:inline; }
  div.work_item div.image { height: 280px; }
  
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  div.work_item div.image { height: 180px; }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  div.work_item div.image { height: 140px; }
}
